.roomcard {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border-left: 0.25rem #f69a6d solid;
}

.roomcard__left {
  justify-self: center;
}

.roomcard__right {
  display: flex;
  justify-content: center;
}

.roomcard__right .button--active {
  width: 80%;
  margin: 0;
}

.roomcard__title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.roomcard__desc {
  font-size: 1rem;
  color: #555555;
}
