.navbar {
  padding: 1rem;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.navbar__container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar__title {
  flex: 1;
}

.highlight {
  color: #f69a6d;
}
