.navbar {
  padding: 1rem;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border-bottom: 0.125rem #efefef solid;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.navbar__container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar__title {
  flex: 1;
}

.highlight {
  color: #f69a6d;
}
