.room {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: "Nunito", sans-serif;
}

.room__greet {
  font-size: 1.75rem;
}

.room__title {
  margin: 2rem 0 1rem;
  font-size: 1.75rem;
}

.room__notice {
  text-align: center;
  display: block;
  font-size: 2rem;
  color: #ababab;
  margin-top: 4rem;
}

.room hr {
  margin-bottom: 1rem;
}
