.profile {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.profile__left {
  display: flex;
  place-items: center;
}

.profile__left img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid #ffffff 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.profile__right {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.profile__right span {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.profile__right .highlight {
  font-weight: 600;
}

.profile__buttons {
  display: flex;
  gap: 1rem;
}

.profile__button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f69a6d;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.profile__button:hover {
  filter: brightness(0.95);
}

.inactive {
  background-color: #eaeaea;
  color: #555555;
}
